# Ignore settings.yml - has the API credentials
settings.yml

# Ignore brain files that contains personal data
brains/google_calendar.yml
brains/say.yml
brains/eat.yml
brains/mpd.yml
brains/search.yml
brains/wifi.yml
brains/gmaps.yml

# Private variables
brains/private_data.yml

resources/neurons/*

*.log
